
<%= @inquilino_nuevo.rut %>


<div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Oficina: <%= @inquilino_nuevo.oficina.codigo %></h5>
    <p class="card-text"><p>ID: <%= @inquilino_nuevo.id %></p>
        <p>Nombre: <%= @inquilino_nuevo.nombre %></p>
        <p>Apellido: <%= @inquilino_nuevo.apellido %></p>
        <p>Teléfono: <%= @inquilino_nuevo.telefono %></p>
    </p>
    <a href="#" class="btn btn-primary">modificar</a>
  </div>
</div>